body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 1em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: "Times New Roman", Georgia, Serif;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}
