body {
  background: pink;
  font-size: 100%;
}
h1 {
  font: 3em, verdana, sans-serif;
  color: blue;
   
}

 h2{
  font-size: 1.4em;
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: Helvetica;
}

#tasks .completed { 
  background: #ccc;
  text-decoration: underline;
}