body {
  background: pink;
}

h1 #title {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: arial;
}

#tasks .completed {
  background-color: #ccc;
  text-decoration: underline;
}
}