body {
  background: pink;
  text-decoration : underline;
}

h1 {
  color: blue;
}

h2 {
  color : green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-size: 12px;
}

#tasks .completed {
  text-decoration: underline;
}
