body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: "times new roman";
}

#tasks .completed{
  background: blue;
  text-decoration: underline;

}
